<form method="POST" id="editor">
    <div>
        <textarea form="editor" name="text" cols="60" rows="16" style="color: black" placeholder="Enter your text message here!">{{original}}</textarea>
        <textarea cols="60" rows="16" style="background: #fcebc1" placeholder="Translated text will be displayed here!">{{translated}}</textarea>
    </div>
    <br>
    <input type="submit">
</form>