<html>
    <head>
        <title>Kaomoji</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <a href="http://localhost:3000">
            <img src="img/logo.png" width="300px">
        </a>
        <br>
        <div align="right">
            <a href="http://localhost:3000/editor">
                <button type="button">Editor</button>
            </a>
            <a href="http://localhost:3000/dictionary">
                <button type="button">Dictionary</button>
            </a>
        </div>
        <hr><br><br>
        {{{body}}}
    </body>
</html>