<h1>Add a Movie!</h1>

<h2>Movie Info</h2>

<form method="POST">
    <input type="text" name="title" placeholder="title"> by
    <input type="text" name="director" placeholder="director"> (
    <input type="text" name="year" placeholder="year">)
    <button type="submit">Add</button>
</form><br>

<p><a href="/mymovies">My Movies</a></p>